---
layout: main
canonical_url: /index.html
title: Rohit Gupta - Simplicity
description: "Blog on technical and social articles. @rohit01 is a developer, foss enthusiast and an Indian nationalist."
---

<div id="container">
  <div class="featured">
    {% for album in site.featured_albums limit:4 %}
      <a class="featured-post" href="{{ album.url }}">
        <div>
          <h2>{{ album.title }}</h2>
            <img src="{{ album.thumbnail }}" alt="{{ album.title }}">
        </div>
      </a>
      <link rel="next" href="{{ album.url }}" />
    {% endfor %}
  </div>

<section id="content" role="main">
  <!-- Define tabs -->
  <div id="tabContainer">
    <div class="tabs">
      <ul>
        <li id="tabHeader_1">Recent</li>
        <li id="tabHeader_2">Projects</li>
        <li id="tabHeader_3">About</li>
      </ul>
    </div>

    <div class="tabscontent">
      <!-- Blog posts Tab -->
      <div class="tabpage" id="tabpage_1">
        {% for post in paginator.posts %}
          <article id="{{ post.id }}" class="{{ post.id }}">
            <header>
              <h2 class="entry-title"><a href="{{ post.url }}" title="{% if post.title %}{{ post.title }}{% else %}Simplicity{% endif %}" rel="bookmark">{% if post.title %}{{ post.title }}{% else %}Simplicity{% endif %}</a></h2>
              <h3 class="the_subtitle"><a href="{{ post.url }}">{% if post.subtitle %}{{ post.subtitle }}{% else %}{{ post.excerpt | strip_html | truncatewords: 25 }}{% endif %}</a></h3>
              <section class="entry-meta">
                <span class="entry-date">{{ post.date | date: "%b %d, %Y" }}</span>
              </section>
            </header>
          </article>
        {% endfor %}
        <!-- Pagination -->
        <nav id="nav-below" class="navigation" role="navigation">
          {% if paginator.next_page_path or paginator.previous_page_path %}
            <h3>Other posts</h3>
            {% if paginator.next_page_path %}
              <div class="nav-previous">
                <a href="{{ paginator.next_page_path }}" ><span class="meta-nav">&larr;</span> Older posts</a>
              </div>
            {% endif %}
            {% if paginator.previous_page_path %}
              <div class="nav-next">
                <a href="{{ paginator.previous_page_path }}" >Newer posts <span class="meta-nav">&rarr;</span></a>
              </div>
            {% endif %}
          {% endif %}
        </nav>
      </div>
      <!-- Projects tab -->
      <div class="tabpage" id="tabpage_2">
        <section class="entry-content">
          {% capture my_include %}{% include projects.md %}{% endcapture %}
          {{ my_include | markdownify }}
        </section>
      </div>
      <!-- About tab -->
      <div class="tabpage" id="tabpage_3">
        <section class="entry-content">
          {% capture my_include %}{% include about.md %}{% endcapture %}
          {{ my_include | markdownify }}
        </section>
      </div>

<!-- Place to add more tabs -->

    </div>
  </div>
  <!-- JavaScript to provide tab functionality -->
  <script>
    var numTabs = 3, currentTab = 1;

    function switchTab(num){
      document.getElementById('tabHeader_' + currentTab).removeAttribute('class');
      document.getElementById('tabpage_' + currentTab).style.display = 'none';
      document.getElementById('tabHeader_' + num).setAttribute('class', 'tabActiveHeader');
      document.getElementById('tabpage_' + num).style.display = 'block';
      currentTab = num;
    }

    function tabHandler(num){
      return function(){ switchTab(num); };
    }
    // Add listeners
    for(var i = 1; i <= numTabs; i += 1){
      var tab = document.getElementById('tabHeader_' + i);
      var fn = tabHandler(i);
      tab.addEventListener ?
      tab.addEventListener('click', fn, false) :
      tab.attachEvent('onclick', fn);
    }
    // Switch to all tabs once. Fixes tab rendering
    for(var i = 1; i <= numTabs; i += 1){
      switchTab(i);
    }
    // Default's to tab 1
    switchTab(1);
  </script>
</section>
