<form action="" id="search-box">
  <p>
    <input type="text" name="q" id="search-query" placeholder="Search posts" class="search-query" autocomplete="off"/>
  </p>
</form>

<section id="search-results">
  <ul>
    <div class="entries">
      {% for post in site.posts %}
        <li>
          {{ post.date | date: "%b %d, %Y"  }} &mdash; <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </div>
  </ul>
</section>

{% raw %}
<script id="search-results-template" type="text/mustache">
  {{#entries}}
  <li>
    {{#date}}<time datetime="{{pubdate}}" pubdate>{{displaydate}}</time>{{/date}} &mdash; <a href="{{url}}">{{title}}</a>
  </li>
  {{/entries}}
</script>
{% endraw %}

<script src="/res/js/search.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  $(function() {
    $('#search-query').lunrSearch({
      index:    '/search.json',
      results:  '#search-results',
      entries:  '.entries',
      template: '#search-results-template'
    });
  });
</script>


<script type="text/javascript">
  var search_field = document.getElementById('search-query');
  search_field.style.background = null;
  if (window.rohitHostIsIOS) {
    search_field.type = 'search';
  } else {
    search_field.select();
    search_field.focus();
  }
  search_field.addEventListener('blur', function (ev) {
    this.style.background = null;
  });
</script>


<style type="text/css">
  #search-query {
    width: 70%;
    font-size: inherit;
    font-family: helvetica, sans-serif;
    padding:0.5em 1em;
  }
  #search-query {
    border:2px solid #ddd;
    border-radius: 90px;
  }
  #search-query:focus {
    outline:none;
    border-color: #2299ff;
  }
  html.ios #search-query {
    padding:0.5em 1em;
    -webkit-appearance: none;
  }
</style>
