#slide-7 {
  background: url('images/graylog-ui.png');
  background-size: 80% auto;
  background-position: center; 
  background-repeat: no-repeat;
  color: #39C;
}

#slide-11 {
  background: url('images/graylog-dashboard.png');
  background-size: 80% auto;
  background-position: center; 
  background-repeat: no-repeat;
  color: #E20;
}
